<h4 class="text-center mt-4 label-title-page">Aluco Dashboard</h4>

<div class="card offset-md-2 col-md-8">
    <div class="card-header">Entre em sua conta aluco, professor.</div>
    <div class="card-body">
        <form class="form mt-4">

            <div class="form-group">
                <input class="form-control" placeholder="email" autofocus>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="senha">
            </div>

            <button type="submit" class="btn btn-login btn-block">
                login
            </button>
        </form>
    </div>
</div>