<h4 class="text-center mt-4 label-title-page">Aluco Dashboard</h4>

<div class="card offset-md-2 col-md-8">
    <div class="card-header">Entre em sua conta aluco, professor.</div>
    <div class="card-body">
        <form [formGroup]="loginForm" class="form mt-4">

            <div class="form-group">
                <input formControlName="email" class="form-control" placeholder="email" autofocus>
                <small *ngIf="loginForm.get('email').errors?.required" class="text-danger d-block mt-2">
                    Email é obrigatório!
                </small>
            </div>

            <div class="form-group">
                <input formControlName="password" type="password" class="form-control" placeholder="senha">
                <small *ngIf="loginForm.get('password').errors?.required" class="text-danger d-block mt-2">
                    Senha é obrigatória!
                </small>
            </div>

            <button [disabled]="loginForm.invalid" (click)="login()" type="submit" class="btn btn-primary btn-block">login</button>
        </form>
    </div>
</div>