<div class="text-center row mt-5">
    <div class="offset-md-1 col-sm-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Alunos</h3>
                <p class="card-text">Gerencie seus alunos aqui</p>
                <a [routerLink]="['/students']" class="btn btn-gerenciar">Gerenciar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Turmas</h3>
                <p class="card-text">Gerencie suas turmas aqui</p>
                <a [routerLink]="['/classes']" class="btn btn-gerenciar">Gerenciar</a>
            </div>
        </div>
    </div>
</div>
<div class="text-center row mt-5">
    <div class="offset-md-1 col-sm-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Planos de Aula</h3>
                <p class="card-text">Gerencie seus planos de aula aqui</p>
                <a href="#" class="btn btn-gerenciar">Gerenciar</a>
            </div>
        </div>
    </div>
</div>